<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<!-- Using a favicon-->
	<link rel="icon" type="image/png" sizes="96x96" href="/favicon-32x32.png">

	<link rel="stylesheet" href="/css/styles.css">
  <title>Poll</title>
</head>

<body onload="init()">
  <h5 id="voteTitle">투표 제목</h5>
	<% if(poll) {  %>
		<div id="js-container" class="container"></div>	
	<% } else { %>
		<div>진행할 투표 정보가 없습니다.</div>
	<% } %>

	<div class="wrapper">
		<input id="resultBtn" type="button" value="투표 결과 보기" class="btn" onclick="showResult()">
	</div>

	<div>
		<audio preload="auto" data-key="0" src="/sounds/clap.wav"></audio>
		<audio preload="auto" data-key="1" src="/sounds/hihat.wav"></audio>
		<audio preload="auto" data-key="2" src="/sounds/kick.wav"></audio>
		<audio preload="auto" data-key="3" src="/sounds/openhat.wav"></audio>
		<audio preload="auto" data-key="4" src="/sounds/boom.wav"></audio>
		<audio preload="auto" data-key="5" src="/sounds/ride.wav"></audio>
		<audio preload="auto" data-key="6" src="/sounds/snare.wav"></audio>
		<audio preload="auto" data-key="7" src="/sounds/tom.wav"></audio>
		<audio preload="auto" data-key="8" src="/sounds/tink.wav"></audio>
	</div>

	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" ></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/pusher-js@7.0.3/dist/web/pusher.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.min.js"></script> 

	<!-- Local JavaScript -->
	<script src="/js/main.js"></script>
	<script src="/js/poll.js"></script>
	<script src="/js/audio.js"></script>
	<script src="/js/localstorage.js"></script>

	<script>
function init() {
	const poll = JSON.parse('<%= poll %>'.replace(/&#34;/g, '"'));
	voteTitle = poll.title;

	initVoteForm(poll);
	setVoteDueDate(poll);
	initEventListener();
}
	</script>

</body>
</html>
